aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiohttp-retry==2.9.1
aiosignal==1.4.0
amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
brotli==1.2.0
celery==5.6.3
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
crispy-bootstrap5==2026.3
crispy-tailwind==1.0.3
cssselect2==0.9.0
diff-match-patch==20241021
Django==6.0.7
django-admincharts==0.4.1
django-anymail==15.0
django-crispy-forms==2.6
django-environ==0.14.0
django-fsm-2==4.2.4
django-geojson==4.2.0
django-import-export==4.4.1
django-leaflet==0.33.0
django-stubs-ext==6.0.6
fonttools==4.63.0
frozenlist==1.8.0
idna==3.18
kombu==5.6.2
multidict==6.7.1
packaging==26.2
pillow==12.3.0
prompt_toolkit==3.0.52
propcache==0.5.2
psycopg2-binary==2.9.10
pycparser==3.0
pydyf==0.12.1
PyJWT==2.13.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
redis==8.0.1
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tablib==3.9.0
tinycss2==1.5.1
tinyhtml5==2.1.0
twilio==9.10.9
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.2
weasyprint==69.0
webencodings==0.5.1
yarl==1.24.2
zopfli==0.4.3
django-anymail[sendgrid]
